.knopka {
  opacity: 1;
  background-color: #3498db;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.telegram-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: #2CA5E0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='%23FFF' d='M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z'/%3e%3c/svg%3e");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.telegram-button:before,
.telegram-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #2CA5E0;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: border-animate 1.5s linear infinite;
  opacity: 0;
}

.telegram-button:after {
  animation-delay: .5s;
}

@keyframes border-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.whatsapp-button {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 9999;
  background-color: #25D366;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23FFF' d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'/%3e%3c/svg%3e");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.whatsapp-button:before,
.whatsapp-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #25D366;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: border-animate 1.5s linear infinite;
  opacity: 0;
}

.whatsapp-button:after {
  animation-delay: .5s;
}

@keyframes border-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.message {}

.phone-button {
  opacity: 0;
  position: fixed;
  right: 120px;
  bottom: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: #337AB7;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone'%3e%3cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'%3e%3c/path%3e%3c/svg%3e");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.phone-button:before,
.phone-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #337AB7;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: border-animate 1.5s linear infinite;
  opacity: 0;
}

.phone-button:after {
  animation-delay: .5s;
}

@keyframes border-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media (min-width: 1240px) {
  .whatsapp-button {
    display: none;
  }

  .phone-button {
    display: none;
  }

}

.main_content_ph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 5%;
}



.grid-container {
  columns: 5 300px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}

.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.grid-container div:hover img {
  filter: grayscale(0);
}

.grid-container div:hover {
  border-color: coral;
}

.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}


#inline {
  display: none;
  position: fixed;
  border-radius: 3%;
  opacity: 0.95;
  top: 20%;
  left: 25%;
  height: 50%;
  z-index: 4;
  background-color: rgb(216, 218, 245);
  width: 50%;
  margin: auto;
  padding: 10px;
}

#inline h2 {
  margin-bottom: 5%;
  font-size: large;
  font-weight: 900;
}

.txt {
  display: inline-block;
  color: #676767;
  width: 190px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  padding: 5px 9px;
  font-size: 15px !important;
  line-height: 1.4em;
}

.txtarea {
  display: inline-block;
  color: #676767;
  width: 75%;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  padding: 5px 9px;
  font-size: 15px !important;
  line-height: 1.4em;
  height: 80px;
}

.txt:focus,
.txtarea:focus {
  border-style: solid;
  border-color: #BABABA;
  color: #444;
}

input.error,
textarea.error {
  border-color: #973D3D;
  border-style: solid;
  background: #F0BEBE;
  color: #A35959;
}

input.error:focus,
textarea.error:focus {
  border-color: #973D3D;
  color: #A35959;
}

#send {
  color: #FFFFFF;

  cursor: pointer;
  padding: 5px 11px;
  font-size: 1.2em;
  border: solid 1px #F9F9F9;
  border-radius: 2px;
  background: #3498db;
  width: 210px;
  margin-bottom: 20px;
}

#close {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  background-image: url(../img/icons/multiply.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  top: 2%;
  right: 3%;
  z-index: 3;
}

#send:hover {
  background: #979797;
}

.absolute_message {
  position: fixed;
  opacity: 0;
  cursor: pointer;
  background-image: url(../img/icons/feedback.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  bottom: 5%;
  left: 3%;
  z-index: 3;
}

@media (max-width: 1000px) {
  .absolute_message {
    display: none;
  }
}