
body {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: #fcf8f8; 
    box-sizing: border-box;
}

.wrapper {
background-image: url(../img/background/13.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.burger {
    width: 10%;
}

#nav-icon6 {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    transition-duration: 1s;
    margin: 48px auto 12px auto;
    cursor: pointer;
}
#nav-icon6 span {
    height: 6px;
    width: 60px;
    background-color: #131414;
    opacity: 0.8;
    border-radius: 20px;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;    
}
#nav-icon6 span:before {
    left: 0;
    position: absolute;
    top: -18px;
    height: 6px;
    width: 60px;
    background-color: #131414;
    opacity: 0.8;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6 span:after {
    left: 0;
    position: absolute;
    top: 18px;
    height: 6px;
    width: 60px;
    background-color: #131414;
    opacity: 0.8;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#nav-icon6.open span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}

#nav-icon6.open span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}

#nav-icon6.open span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}
    
.wrapper_menu {
    display: none;
    position: absolute;
    background-color: #131414;
    opacity: 0.8;
    top: 10%;
    width: 100%;
    height: 100%;
    z-index: 4;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.wrapper_menu_open {
    display: flex;
}

.nav_wrapper_menu ul {
    list-style-type: none;
}

.main-hover-wr {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4em;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 700;
    text-shadow: none;
}

.main-hover-wr:hover {
    text-decoration: underline 2px;
    color: #696969;
}

.logo_swap {
    display: none;
}

@media (max-width: 1000px) {

    #nav-icon6 {
        display: flex;
    }
    .header {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    }
    .nav {
        display: none;
        }
}

@media (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
}

    .menu {
        display:flex;
        
        justify-content: flex-start;
    }

    #nav-icon6 {
        display: flex;
    }
    .nav {
        display: none;
    }

    .nav ul {
        display: flex;
        list-style-type: none;
    }
}

.nav ul {
    display: flex;
    list-style-type: none;
    
}

.nav ul li {
    
    margin: 5px 10px;
}

.main-hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #070707;
    opacity: 0.8;
    font-weight: 600;
    text-shadow: none;
}

.main-hover:hover {
    text-decoration: underline 2px;
    color: #696969;
}

.main_content {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 2%;
}

@media (max-width: 1000px) {
    .main_content {
        width: 100%;
        height: 100%;     
}
}

.slider_wrapper::before {
    content: "";
    display: none;
    position: absolute;
    /* включаем асболютное позиционирование */
    top: 17%;
    /*отступ будет 0 пикселей от верхней точки блока */
    width: 80%;
    /* блок займёт по ширине 100% ширины родительского */
    height: 1px;
    /* высота самого блока */
    background: #696969;
    /* задаём нужный цвет фоном */
    opacity: 0.5;
    margin: auto;
}

.slider_wrapper::after {
    content: "";
    display: none;
    position:absolute ;
    /* включаем асболютное позиционирование */
    top: 19%;
    /*отступ будет 0 пикселей от верхней точки блока */
    width: 75%;
    /* блок займёт по ширине 100% ширины родительского */
    height: 1px;
    /* высота самого блока */
    background: #696969;
    /* задаём нужный цвет фоном */
    opacity: 0.5;
    margin: auto;
}

@media (max-width: 1000px) {
    .slider_wrapper::before {      
           top: 17%;
    }
    
    .slider_wrapper::after {  
        top: 19%;
    }
}

@media (max-width: 600px) {
    .slider_wrapper::before {      
           display: none;
    }
    
    .slider_wrapper::after {  
        display: none;
    }
}

.slider_wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.myslide {
    flex-wrap: nowrap;
    justify-content: center;
    display: none;
    justify-content: space-between;
    align-items: center;
    opacity: 0.95;
    height: 100%;
    width: 1000px;
}

@media (max-width: 1000px) {
    .myslide {
    height: 80%;
    width: 80%;
    }
}

.myslide__active {
    transition-timing-function: linear;
    display: flex;
}

.myslide img {
    width: 1000px;
    height: 500px;
    
}
@media (max-width: 1000px) {
    .myslide img {
        width: 100%;
        height: 100%;
    }
}

.slider_wrapper a {
    cursor: pointer;
}

.footer {
    margin-top: 3%;
}

@media  (max-width: 1000px) {
    .footer {
        margin-top: 0;
    }
}

@media  (max-width: 600px) {
    .footer {
        margin-top: 0;
    }
}
.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.social-wa {
    background-image: url(../img/whatsapp\ \(1\).png);
}

.social-tele {
    background-image: url(../img/telegramm.png);
}

.form-hint {
    display: none;
}

.social-item:first-child {
    margin-right: 3%;
}

.info {
    text-align: center;
    font-size: 14px;
    margin-left: 5%;
}